* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  background-color: rgb(254, 255, 224);
}

.title {
  text-align: center;
  margin-top: 20px;
}

.container {
  margin: 20px auto;
  width: 90%;
  margin-bottom: 30px ;
}

.container.result-container {
  width: 800px; 
  height: 300px; 
  border: 2px solid black;
  background-color: rgb(230, 220, 191);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.button-container input[type="submit"],
.button-container a {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.button-container input[type="submit"] {
  background-color: green;
  cursor: pointer;
}

.button-container a {
  background-color: red;
}

p {
  font-size: 25px;
  margin-bottom: 10px;
  margin-right: 40px;
}

p span {
  font-weight: bold;
}
